<body>
    <h1>やなぎ〜ぬMIXの受付</h1>
    <form action="/submit_survey" method="post">
        <p>プラン</p>
        <input type="radio" id="Sample" name="plan" value="Sample">
        <label for="Sample">Sample</label><br>

        <input type="radio" id="Standard" name="plan" value="Standard">
        <label for="Standard">Standard</label><br>

        <input type="radio" id="Speed" name="plan" value="Speed">
        <label for="Speed">Speed</label><br>

        <input type="radio" id="colab" name="plan" value="Colab">
        <label for="colab">Colab</label><br><br>

        <p>オプション</p>
        <input type="checkbox" id="none" name="option" value="none">
        <label for="none">None</label><br>

        <input type="checkbox" id="Within48h" name="option" value="Within48h">
        <label for="Within48h">Within 48 hour</label><br>

        <input type = "checkbox" id = "Within7days" name = "option" value = "Within7days">
        <label for = "Within7days">Within 7 days</label><br>

        <input type = "checkbox" id = "Within14days" name = "option" value = "Within14days">
        <labe for = "Within14days">Withing 14 days</labe><br>

        <input type = "checkbox" id = "DifficultEffect" name = "option" value = "DifficultEffect">
        <label for = "DifficultEffect">Difficult Effect </label><br>

        <input type = "checkbox" id = "encode" name = "option" value = "encode">
        <label for = "encode">Encode</label><br>

        <p>割引オプション</p>
        <input type = "radio" id = "None" name = "Discount" value = "None">
        <label for = "none">None</label><br>

        <input type = "radio" id = "U18" name = "Discount" value = "U18">
        <label for = "U18">U18 Disccount</label><br>

        <input type = "radio" id = "Repeat" name = "Discount" value = "Repeat">
        <label for = "Repeat">Repeat Discount</label><br>

        <input type = "radio" id = "OneChorus" name = "Discount" value = "OneChorus">
        <label for = "OneChorus">One Chorus</label><br>
        
        <input type="submit" value="次へ">
    </form>
</body>



- select plan
    - standard
    - sample
    - Speed
    - colab
- select option
    - length : 15s, one chorus, full chorus
    - daedline : 28days, 48h
    - option : deadline(14days, 7days, 48h), effect
- discount
    - U18
    - リピート
- payment method
    - credit
    - bank sending
    - azukari

